*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Pangolin', cursive;
}
section{
    padding: 25vh 10%;
}
.home{
    min-height: 100vh;
    width: 100%;
    background-image: url("/images/Women.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}
.home-text{
    font-size: 50px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: .6rem;
    margin-bottom: 1.4rem;
}
.home-text span{
    font-size: 35px;
    margin: left 25px; ;
}
.home-text p{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 3rem;
    letter-spacing: .2rem;
}
.btn{
    display: inline-block;
    padding: 20px 30px;
    background: #B7CFA5;
    color: lightsalmon;
    font-weight: 600;
    border-radius: 10px;
    transition: all .35s ease;
}
.btn:hover{
    transform: translateY(-5px);
    background: black;
}
header.sticky{
    background:whitesmoke ;
    padding: 14px 14%;
    box-shadow: 0px 0px 50px rgb(0 0 0 / .2);
}
.text{
    text-align: center;
}
.text h2{
    font-size: 50px;
}
.categories{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    gap: 1.3rem;
    align-items: center;
    margin-top: 4rem;
    width: 100%;
    height: 100%;
}
.row{
    position: relative;
    transition: all .35s ease;
}
.row img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cat_text{
    position: absolute;
    top: 40px;
    left: 50px;
}
.cat_text h3{
    font-size: 25px;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    background-color: #B7CFA5;
}
.row .arrow{
    position: absolute;
    bottom: 30px;
    left: 50px;
}
.row .arrow i{
    height: 50px;
    width: 50px;
    background: #B7CFA5;
    border-radius: 50%;
    font-size: 40px;
    color: lightcoral;
    display: inline-flex;
    justify-content: center;
    transition: all .35s ease;
    padding-top: 5px;
}
.row:hover{
    transform: scale(0.9) translateY(-5px);
    cursor: pointer;
}
.row:hover i{
    background-color: lightsalmon;
    color: black;
}

@media(max-width:1546px){
    section{
        padding: 80px 4%;
        transition: .1s;
    }
}
@media(max-width:989px){
    header{
        padding:7px 4%;
        transition: .2s;
    }
    .navigation{
        padding: 8px 15px;
    }
    .home-text{
        font-size: 30px;
    }
    .home-text p{
        font-size: 20px;
    }
    .btn{
        display: inline-block;
        padding: 10px 20px;
       font-size: 20px;
    }
    .trademark p{
        text-align: center;
        padding-left: 80px ;
    }
}
@media (max-width:800px){
    header{
        padding:5px 2%;
    }
    .navigation{
        padding: 5px 8px;
    }
    .trademark{
        text-align: center;
        padding-left: 20px;
    }
}
@media(max-width:750px){
    #menu-icon{
        display: inline-block;
    }
    .cart{
        display: inline-flex;
    }
    .navigation{
        position: absolute;
        top: 100%;
        left: -100%;
        width: 280px;
        height: 120vh;
        background: #EAE5CF;
        display: flex;
        flex-direction: column;
        padding: 150px 30px; 
        transition: all .45s ease;
    }
    .navlist a{
        display: block;
        margin: 1.2rem 0;

    }
    .navlist.open{
        left: 0;
    }
}