img{
    height:40vh;
    object-fit: cover;
}
h1{
    text-align: center;
}
.cell{
    width: 20%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.cell1{
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}
.task{
    width: 100%;
    margin-top: 20px;
    font-size: 30px;
    border-radius: 20%;
}

.btn:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.option{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    border-radius: 20%;
}
.option button:hover{
    background-color: black;
    color: white;
}
.btn1{
    margin: 30px;
    font-size: 20px;
    border-radius: 10%;
    background-color: lightgreen;
    cursor: pointer;
}
.btn2{
    margin: 30px;
    font-size: 20px;
    border-radius: 10%;
    background-color: tomato;
    cursor: pointer;
}
.btn1:hover{
    transform: scale(1.1) translateY(-5px);
}
.btn2:hover{
    transform: scale(1.1) translateY(5px);
}